# compiled output
/dist
/node_modules
/ENV
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

#env files
.env.dev
.env.prod
.env.test

#keys
serviceKey.json
*serviceKey.json
# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
